@model IEnumerable<EntityLayer.Concrete.Blog>
@{ string color = "";}
@foreach (var x in Model)
{
    if (x.Category.CategoryID == 1)
    {
        color = "post-category text-white bg-danger mb-3";
    }
    if (x.Category.CategoryID == 2)
    {
        color = "post-category text-white bg-success mb-3";
    }
    if (x.Category.CategoryID == 3)
    {
        color = "post-category text-white bg-primary mb-3";
    }
    if (x.Category.CategoryID == 4)
    {
        color = "post-category text-white bg-warning mb-3";
    }
    if (x.Category.CategoryID == 5)
    {
        color = "post-category text-white bg-dark mb-3";
    }

<div class="site-cover site-cover-sm same-height overlay single-page" style="background-image: url('@x.BlogImage');">
    <div class="container">
        <div class="row same-height justify-content-center">
            <div class="col-md-12 col-lg-10">
                <div class="post-entry text-center">
                    <span class="post-category text-white @color mb-3">@x.Category.CategoryName</span>
                    <h1 class="mb-4"><a href="#">@x.BlogTitle</a></h1>
                    <div class="post-meta align-items-center text-center">
                        <figure class="author-figure mb-0 mr-3 d-inline-block"><img src="@x.Author.AuthorImage" alt="Image" class="img-fluid"></figure>
                        <span class="d-inline-block mt-1">@x.Author.AuthorName</span>
                        <span>&nbsp;-&nbsp; @(((DateTime)x.BlogDate).ToString("dd-MM-yyyy"))</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>}