@model IEnumerable<EntityLayer.Concrete.Contact>

@{
    ViewBag.Title = "Inbox";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<body class="hold-transition sidebar-mini">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                </div>
            </div>
        </div>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-3">
                <a class="btn btn-primary btn-block mb-3" style="color:white">Inbox</a>
                <div class="card">
                    
                    <div class="card-body p-0">
                        <ul class="nav nav-pills flex-column">
                            <li class="nav-item">
                                <a href="/Contact/Inbox/" class="nav-link">
                                    <i class="fas fa-inbox"></i> Inbox
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Contact/Trash/" class="nav-link">
                                    <i class="far fa-trash-alt"></i> Trash
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="/Subscribe/SubscribeList/" class="nav-link">
                                    <i class="fas fa-solid fa-envelope"></i> Subscribed Emails
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>                
            </div>
            <div class="col-md-9">
                <div class="card card-primary card-outline">
                    <div class="card-header">
                        <h3 class="card-title">Inbox</h3>
                        <div class="card-tools">
                            <div class="input-group input-group-sm">
                                <div class="input-group-append">
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    @foreach (var x in Model)
                                    {

                                    <tr>
                                        <td>
                                            <div class="btn-group">
                                                <a href="/Contact/StatusChangeToFalse/@x.ContactID" class="btn btn-default btn-sm"><i class="far fa-trash-alt"></i></a>
                                            </div>
                                        </td>
                                        <td class="mailbox-star"><a href="#"><i class="fas fa-star text-warning"></i></a></td>
                                        <td class="mailbox-name"><a href="/Contact/MessageDetails/@x.ContactID">@x.Name @x.Surname</a></td>
                                        <td class="mailbox-subject">
                                            <b>@x.Subject</b> - @x.Mail 
                                        </td>
                                        <td class="mailbox-attachment"></td>
                                        <td class="mailbox-date">@(((DateTime)x.MessageDate).ToString("dd-MM-yyyy"))</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- jQuery -->
    <script src="/AdminTheme/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="/AdminTheme/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="/AdminTheme/dist/js/adminlte.min.js"></script>
    <!-- Page Script -->
    <script>
        $(function () {
            $('.checkbox-toggle').click(function () {
                var clicks = $(this).data('clicks')
                if (clicks) {
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', false)
                    $('.checkbox-toggle .far.fa-check-square').removeClass('fa-check-square').addClass('fa-square')
                } else {
                    $('.mailbox-messages input[type=\'checkbox\']').prop('checked', true)
                    $('.checkbox-toggle .far.fa-square').removeClass('fa-square').addClass('fa-check-square')
                }
                $(this).data('clicks', !clicks)
            })
            $('.mailbox-star').click(function (e) {
                e.preventDefault()
                var $this = $(this).find('a > i')
                var glyph = $this.hasClass('glyphicon')
                var fa = $this.hasClass('fa')
                if (glyph) {
                    $this.toggleClass('glyphicon-star')
                    $this.toggleClass('glyphicon-star-empty')
                }
                if (fa) {
                    $this.toggleClass('fa-star')
                    $this.toggleClass('fa-star-o')
                }
            })
        })</script>
    <script src="/AdminTheme/dist/js/demo.js"></script>
</body>